################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Direct3D_CPP_Flipped/Debug
/Direct3D_CPP_Flipped/.vs/D3DDemo/v15
/.vs
/Direct3D_CPP_Flipped/x64/Release
/Direct3D_CPP_Flipped/Release/weaponClass.obj
/Direct3D_CPP_Flipped/Release/VertexShaderNoTransform.cso
/Direct3D_CPP_Flipped/Release/VertexShader.cso
/Direct3D_CPP_Flipped/Release/vc141.pdb
/Direct3D_CPP_Flipped/Release/SoundClass.obj
/Direct3D_CPP_Flipped/Release/shaderClass.obj
/Direct3D_CPP_Flipped/Release/projectileClass.obj
/Direct3D_CPP_Flipped/Release/playerClass.obj
/Direct3D_CPP_Flipped/Release/platformClass.obj
/Direct3D_CPP_Flipped/Release/PixelShaderSprite.cso
/Direct3D_CPP_Flipped/Release/PixelShaderNoShading.cso
/Direct3D_CPP_Flipped/Release/PixelShaderEnemy.cso
/Direct3D_CPP_Flipped/Release/PixelShader.cso
/Direct3D_CPP_Flipped/Release/PickUpPixelShader.cso
/Direct3D_CPP_Flipped/Release/pickupClass.obj
/Direct3D_CPP_Flipped/Release/objectClass.obj
/Direct3D_CPP_Flipped/Release/main.obj
/Direct3D_CPP_Flipped/Release/importerClass.obj
/Direct3D_CPP_Flipped/Release/GUItest.obj
/Direct3D_CPP_Flipped/Release/graphicsClass.obj
/Direct3D_CPP_Flipped/Release/GeometryShader.cso
/Direct3D_CPP_Flipped/Release/gameClass.obj
/Direct3D_CPP_Flipped/Release/enemyClass.obj
/Direct3D_CPP_Flipped/Release/directInputClass.obj
/Direct3D_CPP_Flipped/Release/Demo.tlog
/Direct3D_CPP_Flipped/Release/Demo.pdb
/Direct3D_CPP_Flipped/Release/Demo.log
/Direct3D_CPP_Flipped/Release/Demo.ipdb
/Direct3D_CPP_Flipped/Release/Demo.iobj
/Direct3D_CPP_Flipped/Release/Demo.exe
/Direct3D_CPP_Flipped/Release/deltaTimeClass.obj
/Direct3D_CPP_Flipped/Release/d3dClass.obj
/Direct3D_CPP_Flipped/Release/collisionClass.obj
/Direct3D_CPP_Flipped/Release/cameraClass.obj
/Direct3D_CPP_Flipped/Release/backgroundPlaneClass.obj
/Direct3D_CPP_Flipped
